﻿<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewData["Title"]</title>
    <link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/cmsys.css">
</head>
<body class="bg-fa">
    <aside id="menu" class="menu-not-active menu sidebar position-fixed bg-dark">
        <div class="sidebar shadow">
            <ul class="nav flex-column pl-3">
                @{
                    await RenderNavLink("Courses", "", "Course", "Index");
                }
                @{
                    await RenderNavLink("Trainers", "", "Trainer", "Index");
                }
                @{
                    await RenderNavLink("Courses (Admin)", "Admin", "Course", "Index");
                }
                @{
                    await RenderNavLink("Trainers (Admin)", "Admin", "Trainer", "Index");
                }
                @{
                    await RenderNavLink("Course Groups (Admin)", "Admin", "CourseGroup", "Index");
                }
                @{
                    await RenderNavLink("Trainer Groups (Admin)", "Admin", "TrainerGroup", "Index");
                }
                @{
                    await RenderNavLink("Users (Admin)", "Admin", "User", "Index");
                }
            </ul>
        </div>
    </aside>
    <header>
        <nav class="navbar navbar-dark bg-dark h-64 nav justify-content-start sticky-top">
            <button class="btn navbar-toggler menu-btn" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="text-light font-weight-bold fs-20 overflow-hidden ml-3 overflow-hidden text-nowrap text-truncate nav-size">@ViewData["Title"]</div>
            <div class="ml-auto">
                @if (Context.User.Identity.IsAuthenticated)
                {
                    <span>
                        @(Context.User.Identity.Name),
                        <a asp-controller="Account" asp-action="Logout" asp-area="" class="text-decoration-none text-light">Sign out  <span><i class="fa fa-sign-out"></i></span></a>
                    </span>
                }
                else
                {
                    <a asp-controller="Account" asp-action="Login" asp-area="" class="text-decoration-none text-light"> Sign in <span><i class="fa fa-sign-in"></i></span></a>
                }
            </div>
        </nav>
    </header>
    <main>
        <div class="container">
            <div class="d-flex justify-content-center col-2">
                <h1>@ViewData["Title"]</h1>
            </div>
            @RenderSection("Content")
        </div>
    </main>


    @functions{
        public async Task RenderNavLink(string title, string area, string controllerName, string action)
        {
            <li class="nav-item pl-2"><a class="nav-link" asp-area=@area asp-controller=@controllerName asp-action=@action><div>@title</div></a></li>
        }
    }

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="~/js/cmsys.js"></script>
    @RenderSection("Scripts")
</body>
</html>


