﻿.nav-size {
    max-width: calc(100% - 130px);
}

.menu {
    height: 100%;
    margin-top: 0px;
    max-height: 100%;
    width: 300px;
}

.menu-not-active {
    z-index: 2000;
    transform: translateX(-100%);
    transition: 0.3s;
}

.menu-active {
    transform: translateX(0%);
}

.bg-fa {
    background-color: #fafafa;
}

.cover {
    background-color: rgba(0, 0, 0, .5);
    height: 100%;
    width: 100%;
    top: 0;
    z-index: 1200;
}

div.hover:hover {
    background-color: #d7d7d7;
}

.page-footer {
    height: 32px;
}

@font-face {
    font-family: 'FontAwesome';
    src: url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff2') format('woff2'), url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff') format('woff'), url('https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/fonts/fontawesome-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal
}

.glyphicon {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.glyphicon-chevron-right:before {
    content: "\f054";
}

.glyphicon-chevron-left:before {
    content: "\f053";
}

.link_test {
    position: relative;
}

.title {
    display: none;
    height: 100px;
    width: 200px;
    background: #fffed2;
    border: 1px solid #838231;
    padding: 5px;
    position: absolute;
    margin-left: 120px;
    top: 5px;
    z-index: 100;
}

.index {
    position: absolute;
    height: 5px;
    width: 10px;
    background: red;
    left: -5px;
}

.img-right {
    margin: 0 0 10px 20px;
    padding: 0;
    float: right;
}

.fa-edit:before {

}