﻿@model CMSys.Web.Models.UserViewModel

@{
    ViewData["Title"] = "Edit User";
}

@section Content
{
    <div class="pt-3 d-flex justify-content-center">
        <h1 class=" display-3 border-bottom">Edit User</h1>
    </div>

    <form method="post" asp-action="Edit">
        <div class="justify-content-center">
            <div class="d-flex justify-content-center mt-2">
                <div class="px-4 col-4">

                    <div asp-validation-summary="ModelOnly"></div>

                    <div class="form-group">
                        <label asp-for="Id" class="font-weight-bold"></label><br/>
                        <input asp-for="Id" class="form-control" disabled="disabled"/>
                    </div>

                    <div class="form-group">
                        <label asp-for="FirstName" class="font-weight-bold"></label><br/>
                        <input asp-for="FirstName" class="form-control" placeholder="1..128 symbols"/>
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="LastName" class="font-weight-bold"></label><br/>
                        <input asp-for="LastName" class="form-control" placeholder="1..128 symbols"/>
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="StartDate" class="font-weight-bold"></label><br/>
                        <input asp-for="StartDate" class="form-control"/>
                        <span asp-validation-for="StartDate" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="EndDate" class="font-weight-bold"></label><br/>
                        <input asp-for="EndDate" class="form-control"/>
                        <span asp-validation-for="EndDate" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Department" class="font-weight-bold"></label><br/>
                        <input asp-for="Department" class="form-control" placeholder="1..128 symbols"/>
                        <span asp-validation-for="Department" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Position" class="font-weight-bold"></label><br/>
                        <input asp-for="Position" class="form-control" placeholder="1..128 symbols"/>
                        <span asp-validation-for="Position" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Location" class="font-weight-bold"></label><br/>
                        <input asp-for="Location" class="form-control" placeholder="1..128 symbols"/>
                        <span asp-validation-for="Location" class="text-danger"></span>
                    </div>

                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center mt-3">
            <a asp-action="Index" class="btn btn-light border">&larr; Back to List</a>
            <input type="submit" class="ml-3 btn btn-light border" value="Save &#10004;"/>
        </div>
    </form>
}

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}