﻿@{
    ViewData["Title"] = "Users";
}

@section Content{
    <div id="modDialog" class="modal fade">
        <div id="dialogContent" class="modal-dialog"></div>
    </div>

    <div class="pt-2 text-center">
        <h1>Users</h1>
    </div>

    <form class="d-flex justify-content-between mb-3" id="form">
        <div>
            <input name="Title" type="text" class="form-control mx-1" placeholder="Search..."/>
        </div>
    </form>

    <div>
        <table class="table table-hover table-users">
            <thead>
            <tr>
                <th>Name</th>
                <th>Photo</th>
                <th>Department</th>
                <th>Position</th>
                <th>Location</th>
                <th>Active</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody id="data"></tbody>
        </table>

        <div class="row justify-content-between mb-3">
            <div class="row mx-auto" id="pager">
                <button class="btn btn-light border prev" data-page="first">&larrb;</button>
                <button class="btn btn-light border prev" data-page="prev">&larr;</button>
                <div class="btn btn-light border" id="page">1</div>
                <button class="btn btn-light border next" data-page="next">&rarr;</button>
                <button class="btn btn-light border next" data-page="last">&rarrb;</button>
            </div>
            <div class="d-flex">
                <select class="form-control form-control-sm" id="itemsPerPage">
                    <option>All</option>
                    <option selected>6</option>
                    <option>12</option>
                    <option>24</option>
                </select>
                <div class="pl-3 text-secondary small text-nowrap align-self-center" id="page-info"></div>
            </div>
        </div>
    </div>
}

@section Scripts
{
    <script src="~/js/modalWnd.js"></script>
    <script src="~/js/users.js"></script>
}
