﻿@model CMSys.Web.Models.UserViewModel

<div class="modal-content">
    <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <div class="d-flex justify-content-center">
            <h1 class=" display-3 border-bottom">@Model.FullName</h1>
        </div>
        <div class="d-flex justify-content-center pb-4">
            <div class="d-flex col-11 mt-2">
                <div class="mt-1">
                    <img class="rounded" src="@Model.Photo" alt="">
                </div>
                <div class="px-4">
                    <div class="align-items-center">
                        <div class="pt-2 h5 d-inline">@Model.Department | @Model.Position</div>
                        <div class="d-inline ml-1">
                            <a class="badge badge-primitive" href="@ViewBag.RMSysLink" target="_blank">RMSys</a>
                        </div>
                        @if (Model.Location != null)
                        {
                            <div class="pt-2 h6 mb-0"><span><i class="fa fa-map-marker"></i></span> @Model.Location</div>
                        }
                        <div class="pt-1">Start Date: @Model.StartDate</div>
                        @if (Model.EndDate != null)
                        {
                            <div class="pt-1">Start Date: @Model.EndDate</div>
                        }
                        <div class="pt-1">Department: @Model.Department</div>
                        <div class="pt-1">Job Position: @Model.Position</div>
                    </div>
                    <div class="pt-1">Email: <a class="text-decoration-none" href="mailto:@Model.Email">@Model.Email</a></div>
                </div>
            </div>
        </div>
    </div>
</div>