﻿@model CMSys.Web.Models.UserViewModel

@{
    ViewData["Title"] = "Roles";
}

@section Content
{
    <div>
        <div class="d-flex justify-content-center mt-2 mb-5">
            <div class="display-4 text-center">Update roles for @Model.FullName</div>
        </div>
        <div class="d-flex justify-content-center">
            <table class="table table-hover col-4">
                <thead>
                    <tr>
                        <th>Role</th>
                        <th class="text-center">Action</th>
                    </tr>
                </thead>
                <tbody id="data"></tbody>
            </table>
        </div>

        <div class="d-flex justify-content-center">
            <select id="potentialRoles" class="form-control col-3">
                <option value="">Choose role</option>
            </select>
            <button class="btn btn-light btn-primitive-hover border" disabled="disabled" id="add"> Add </button>
        </div>

        <div class="d-flex justify-content-center mt-4">
            <a asp-action="Index" class="btn btn-light border">&larr; Back to List</a>
        </div>

        <input type="hidden" value="@Model.Id" id="modelId" />
    </div>
}

@section Scripts
{
    <script src="~/js/userRoles.js"></script>
}