﻿@model CMSys.Web.Models.UserViewModel

@section Content
{
    <div class="d-flex justify-content-center">
        <h1 class=" display-4 border-bottom text-center">@Model.FullName</h1>
    </div>
    <div class="text-center font-weight-bold">You can't change roles of this user.</div>
    <div class="d-flex justify-content-center mt-3">
        <a asp-action="Index" class="btn btn-light border">&larr; Back to List</a>
    </div>
}

@section Scripts
{
    
}