﻿@{
    ViewData["Title"] = "Home";
}

@section Content{ 
    <div class="d-flex mt-20 justify-content-center">
        <div class="text-center">
            <h1 class="display-4">Welcome to CMSys</h1>
            <h5>@@2020</h5>
        </div>
    </div>
}

@section Scripts{ }