﻿@model CMSys.Web.Models.CourseGroupViewModel

    <div class="modal-content">
        <div class="modal-header">
            <h4 class="display-3 border-bottom">Delete Course Group : @Model.Title - Fail</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="text-center font-weight-bold">You can't delete this group because of some references: </div>
            <div class="d-flex justify-content-center">
                <ul class="col-6">
                    @foreach (var item in ViewBag.Dependents)
                    {
                        <li>@item.Key - @item.Value entity(s).</li>
                    }
                </ul>
            </div>
            <div class="text-center">
                <a class="btn btn-light border" data-dismiss="modal">Close</a>
            </div>
        </div>
    </div>