﻿@{
    ViewData["Title"] = "Course groups";
}

@section Content{
    <div id="modDialog" class="modal fade">
        <div id="dialogContent" class="modal-dialog"></div>
    </div>

    <div class="d-flex justify-content-between">
        <div class="py-3 text-center mx-auto">
            <h1>Course groups</h1>
        </div>
        <div class="pb-2 align-self-end">
            <a class="btn border btn-light item" asp-area="Admin" asp-controller="CourseGroup" asp-action="Create">&#10010;</a>
        </div>
    </div>

    <div>
        <table class="table table-hover">
            <thead>
                <tr class="row">
                    <th class="col-10">Title</th>
                    <th class="col-2 px-0">Action</th>
                </tr>
            </thead>
            <tbody id="courseGroupData">
            </tbody>
        </table>
    </div>
}

@section Scripts{
    <script src="~/js/modalWnd.js"></script>
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script src="~/js/courseGroups.js"></script>
}