﻿@model CMSys.Web.Models.TrainerGroupViewModel

    <div class="modal-content">
        <div class="modal-header">
            <h4 class="display-3 border-bottom">Delete Trainer Group : @Model.Name</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="text-center font-weight-bold h5">Are you sure want to delete this?</div>
            <div class="text-center">
                <a class="btn btn-light border" data-dismiss="modal">Close</a>
                <a class="btn btn-light btn-danger-hover border" asp-action="DeleteConfirm" asp-route-id="@Model.Id">Delete <span class="text-danger">&#10008;</span></a>
            </div>
        </div>
    </div>