﻿@model CMSys.Web.Models.TrainerGroupViewModel

    <div class="modal-content">
        <div class="modal-header">
            <h4 class="display-3 border-bottom">Edit Trainer Group</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="d-flex justify-content-start">
                <div class="col-12 mt-2">
                    <form asp-action="Edit" id="editform">
                        <div class="justify-content-center">
                            <div class="d-flex justify-content-center mt-2">
                                <div class="px-4 col-12">
                                    <div asp-validation-summary="ModelOnly"></div>

                                    <div class="form-group">
                                        <label asp-for="Id" class="font-weight-bold"></label><br />
                                        <input asp-for="Id" class="form-control" disabled="disabled" />
                                    </div>

                                    <div class="form-group">
                                        <label asp-for="Name" class="font-weight-bold"></label><br />
                                        <input asp-for="Name" class="form-control" placeholder="1..64 symbols" />
                                        <span asp-validation-for="Name" class="text-danger"></span>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center">
                            <input type="submit" class="ml-3 btn btn-light border edit" value="Save &#10004;" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
