﻿@{
    ViewData["Title"] = "Trainer Groups";
}

@section Content{ 
    <div id="modDialog" class="modal fade">
        <div id="dialogContent" class="modal-dialog"></div>
    </div>

    <div class="d-flex justify-content-between">
        <div class="py-3 text-center mx-auto">
            <h1>Trainer Groups</h1>
        </div>
        <div class="pb-2 align-self-end">
            <a class="btn border btn-light item" asp-action="Create">&#10010;</a>
        </div>
    </div>

    <div class="d-flex justify-content-center">
        <table class="table table-hover col-8">
            <thead>
                <tr class="row">
                    <th class="col-10">Name</th>
                    <th class="col-2">Action</th>
                </tr>
            </thead>
            <tbody id="trainerGroupData"></tbody>
        </table>
    </div>
}

@section Scripts{
    <script src="~/js/modalWnd.js"></script>
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script src="~/js/trainerGroupAdmin.js"></script>
}