﻿@model CMSys.Web.Models.LoginViewModel

@{
    ViewData["Title"] = "Sign in";
}

@section Content{ 
    <form class="form-signin mx-auto text-center mt-20" asp-action="Login" asp-controller="Account">
        <div>
            <div>
                <h1>Please sign in</h1>
            </div>

            <div asp-validation-summary="ModelOnly"></div>

            <div class="input-group my-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">
                        <i class="fa fa-user"></i>
                    </span>
                </div>
                <input asp-for="Email" class="form-control" placeholder="Email" aria-describedby="basic-addon1">
            </div>
            <span asp-validation-for="Email" class="text-danger"></span>


            <div class="input-group my-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">
                        <i class="fa fa-lock"></i>
                    </span>
                </div>
                <input asp-for="Password" class="form-control" placeholder="Password" aria-describedby="basic-addon1" />
            </div>
            <span asp-validation-for="Password" class="text-danger"></span>

            <div>
                <input type="submit" class="btn btn-light btn-primitive-hover border" value="Sign in">
            </div>

        </div>
    </form>
}


@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")
}