﻿@using Microsoft.AspNetCore.Html
@model CMSys.Web.Models.CourseViewModel

<div class="modal-content">
    <div class="modal-header">
        <h4 class="display-3 border-bottom">Deleted Course Info</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="d-flex justify-content-center form-inline">
            <h5>
                @Model.Title
                @if (Model.IsNew)
                {
                    <span class="new" title="New course!!!">&#11088;</span>
                }
            </h5>
        </div>
        <div class="d-flex justify-content-center pb-5">
            <div class="d-flex col-11 mt-2">
                <div class="px-4">
                    <div>
                        @foreach (var trainer in Model.Trainers)
                        {
                            <div>
                                <a class="badge badge-primitive my-0 item" href="/trainers/@trainer.Id">@trainer.FirstName @trainer.LastName</a>
                            </div>
                        }
                    </div>
                    <div>@(new HtmlString(Model.Info))</div>
                </div>
            </div>
        </div>
        <div class="text-center font-weight-bold h5">Are you sure that you want to delete this?</div>
        <div class="text-center">
            <a class="btn btn-light border" data-dismiss="modal">Close</a>
            <a class="btn btn-light btn-danger-hover border" asp-action="DeleteConfirm" asp-controller="Course" asp-route-id="@Model.Id">Delete <span class="text-danger">&#10008;</span></a>
        </div>
    </div>
</div>