﻿@using CMSys.Common
@using CMSys.Common.Helpers
@using CMSys.Core.Entities.Catalog
@model CMSys.Web.Models.CourseViewModel

@{
    ViewData["Title"] = "Edit Course";
}

@section Content{
    <div class="pt-3 d-flex justify-content-center">
        <h1 class=" display-3 border-bottom">Edit course</h1>
    </div>

    <form method="post" asp-action="Edit" id="form">
        <div class="justify-content-center">
            <div class="d-flex justify-content-center mt-2">
                <div class="px-4 col-4">

                    <div id="errors" class="alert alert-danger" style="display: none;"></div>
                    <div asp-validation-summary="ModelOnly"></div>

                    <div class="form-group">
                        <label asp-for="Title" class="font-weight-bold"></label><br />
                        <input asp-for="Title" class="form-control" placeholder="1..64 symbols" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input asp-for="IsNew" name="IsNew" />
                        <label asp-for="IsNew" class="font-weight-bold">New Course</label>
                    </div>

                    <div class="form-group">
                        <label asp-for="CourseGroupId" class="font-weight-bold">Course Group</label>
                        <select asp-for="CourseGroupId" name="CourseGroupId" class="form-control" id="courseGroups" asp-items="@(new SelectList(ViewBag.groups, "Id", "Title"))"></select>
                        <span asp-validation-for="CourseGroupId" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="CourseType" class="font-weight-bold">Training Type</label>
                        <select asp-for="CourseType" name="CourseType" class="form-control" asp-items="@(new SelectList(Enum.GetValues(typeof(CourseType)).Cast<CourseType>().ToDictionary(item => item.GetStringValue(), item => item),"Value","Key"))"></select>
                        <span asp-validation-for="CourseType" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Arrangement" class="font-weight-bold">Arrangement</label>
                        <select asp-for="Arrangement" name="Arrangement" class="form-control" asp-items="@(new SelectList(Enum.GetValues(typeof(Arrangement)).Cast<Arrangement>().ToDictionary(item => item.GetStringValue(), item => item), "Value", "Key" ))"></select>
                        <span asp-validation-for="Arrangement" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Info" class="font-weight-bold">Info</label>
                        <textarea asp-for="Info" class="form-control" rows="5" placeholder="Can be empty. Maximum - 4000 symbols."></textarea>
                    </div>

                    <input asp-for="Id" hidden="hidden" />
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center mt-3">
            <a asp-action="Index" class="btn btn-light border">&larr; Back to List</a>
            <input type="submit" class="ml-3 btn btn-light border submit" value="Edit &#10004;" />
        </div>
    </form>
}

@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")
}