﻿@using CMSys.Common.Helpers
@using CMSys.Core.Entities.Catalog
@using Newtonsoft.Json
@{
    ViewData["Title"] = "Courses";
}

@section Content{
    <div id="modDialog" class="modal fade">
        <div id="dialogContent" class="modal-dialog"></div>
    </div>

    <div class="pt-2 text-center">
        <h1>Courses</h1>
    </div>
    <div class="row">
        <div class="col-11">
            <form id="formSelects" class="mb-3 d-flex sticky-top form-top py-1 bg-white">
                <select name="Arrangement" class="form-control mx-1" asp-items="@(new SelectList(Enum.GetValues(typeof(Arrangement)).Cast<Arrangement>().ToDictionary(item => item.GetStringValue(), item => item), "Value", "Key" ))">
                    <option value="">All arrangements</option>
                </select>
                <select name="CourseType" class="form-control mx-1" asp-items="@(new SelectList(Enum.GetValues(typeof(CourseType)).Cast<CourseType>().ToDictionary(item => item.GetStringValue(), item => item),"Value","Key"))">
                    <option value="">All types</option>
                </select>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" id="isNew" name="isNew" type="checkbox" value="true" />
                    <label class="form-check-label text-nowrap" for="isNew">New</label>
                </div>
                <input name="isNew" type="hidden" value="false">
            </form>
        </div>
        <div class="col-1 text-right">
            <a class="btn border btn-light" asp-controller="Course" asp-action="Create">&#10010;</a>
        </div>
    </div>

    <div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Course Name</th>
                    <th>Type</th>
                    <th>Schedule</th>
                    <th>Trainers</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody id="coursesData">
            </tbody>
        </table>
        <input hidden="hidden" value='@Html.Raw(JsonConvert.SerializeObject(Enum.GetValues(typeof(CourseType)), new Newtonsoft.Json.Converters.StringEnumConverter()))' id="types" />
        <input hidden="hidden" value='@Html.Raw(JsonConvert.SerializeObject(Enum.GetValues(typeof(Arrangement)), new Newtonsoft.Json.Converters.StringEnumConverter()))' id="arrangements" />
    </div>

    <div class="row justify-content-between mb-3">
        <div class="row mx-auto" id="pager">
            <button class="btn btn-light border prev" data-page="first">&larrb;</button>
            <button class="btn btn-light border prev" data-page="prev">&larr;</button>
            <div class="btn btn-light border" id="page">1</div>
            <button class="btn btn-light border next" data-page="next">&rarr;</button>
            <button class="btn btn-light border next" data-page="last">&rarrb;</button>
        </div>
        <div class="d-flex">
            <select class="form-control form-control-sm" id="itemsPerPage">
                <option>All</option>
                <option selected>10</option>
                <option>20</option>
                <option>50</option>
            </select>
            <div class="pl-3 text-secondary small text-nowrap align-self-center" id="page-info"></div>
        </div>
    </div>
}

@section Scripts
{
    <script src="~/js/modalWnd.js"></script>
    <script src="~/js/getAdminData.js"></script>
    <script src="~/js/courses.js"></script>
}