﻿@model CMSys.Web.Models.CourseViewModel

@{
    ViewData["Title"] = "Course Trainers";
}

@section Content
{
    <div>
        <div class="d-flex justify-content-center mt-2 mb-5">
            <div class="display-4 text-center">Update trainers for @Model.Title</div>
        </div>
        <div class="d-flex justify-content-center">
            <table class="table table-hover col-4">
                <thead>
                    <tr>
                        <th>Trainer</th>
                        <th class="text-center">Action</th>
                    </tr>
                </thead>
                <tbody id="courseTrainers">
                </tbody>
            </table>
        </div>

        <div class="d-flex justify-content-center">
            <select id="coursePotentialTrainers" class="form-control col-3">
                <option value=""></option>
            </select>
            <button class="btn btn-light btn-primitive-hover border" disabled="disabled" id="add"> Add </button>
        </div>

        <div class="d-flex justify-content-center mt-4">
            <a asp-action="Index" class="btn btn-light border">&larr; Back to List</a>
        </div>
        <input type="hidden" value="@Model.Id" id="modelId"/>
    </div>
}

@section Scripts
{
    <script src="~/js/courseTrainers.js"></script>
}
