﻿@using Microsoft.AspNetCore.Html
@model CMSys.Web.Models.TrainerViewModel

<div class="modal-content">
    <div class="modal-header">
        <h4 class="display-3 border-bottom">Trainer Info</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="d-flex justify-content-center form-inline">
            <div class="col-xs-6">
                <img class="rounded float-left" src="@Model.Photo" alt="@Model.FirstName @Model.LastName">
            </div>
            <h5>@Model.FirstName @Model.LastName</h5>
        </div>
        <div class="d-flex justify-content-center pb-5">
            <div class="d-flex col-11 mt-2">
                <div class="px-4">
                    <div class="d-flex align-items-center">
                        <div class="pt-2 h4 d-inline">
                            <a class="badge badge-primitive" href="@Model.TrainerLink" target="_blank">RMSys Profile</a>
                        </div>
                    </div>
                    <div>@(new HtmlString(Model.Info))</div>
                </div>
            </div>
        </div>
        <div class="text-center font-weight-bold h5">Are you sure want to delete this?</div>
        <div class="text-center">
            <a class="btn btn-light border" data-dismiss="modal">Close</a>
            <a class="btn btn-light btn-danger-hover border" asp-action="DeleteConfirm" asp-controller="Trainer" asp-route-id="@Model.Id">Delete <span class="text-danger">&#10008;</span></a>
        </div>
    </div>
</div>