﻿@model CMSys.Web.Models.TrainerViewModel

@{
    ViewData["Title"] = "Edit Trainer";
}

@section Content{
    <div class="pt-3 d-flex justify-content-center">
        <h1 class=" display-3 border-bottom">Update trainer</h1>
    </div>

    <form method="post" asp-action="Edit" id="form">
        <div class="justify-content-center">
            <div class="d-flex justify-content-center mt-2">
                <div class="px-4 col-4">

                    <div id="errors" class="alert alert-danger" style="display: none;"></div>
                    <div asp-validation-summary="ModelOnly"></div>

                    <div class="form-group">
                        <label asp-for="Info" class="font-weight-bold">Info</label>
                        <textarea asp-for="Info" class="form-control" rows="5" placeholder="Can be empty. Maximum - 4000 symbols."></textarea>
                    </div>

                    <div class="form-group">
                        <label asp-for="TrainerGroupId" class="font-weight-bold">Trainer Group</label><br />
                        <select asp-for="TrainerGroupId" name="TrainerGroupId" id="groups" class="form-control" asp-items="@(new SelectList(ViewBag.Groups, "Id", "Name"))"></select>
                        <span asp-validation-for="TrainerGroupId" class="text-danger"></span>
                    </div>

                    <input asp-for="Id" hidden="hidden" />
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center mt-3">
            <a asp-action="Index" class="btn btn-light border">&larr; Back to List</a>
            <input type="submit" class="ml-3 btn btn-light border submit" value="Edit &#10004;" />
        </div>
    </form>
}

@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")
}