﻿@{
    ViewData["Title"] = "Trainers";
}

@section Content{
    <div id="modDialog" class="modal fade">
        <div id="dialogContent" class="modal-dialog"></div>
    </div>

    <div class="d-flex justify-content-between">
        <div class="py-3 text-center mx-auto">
            <h1>Trainers</h1>
        </div>
        <div class="pb-2 align-self-end">
            <a class="btn border btn-light" asp-area="Admin" asp-controller="Trainer" asp-action="Create">&#10010;</a>
        </div>
    </div>

    <div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Group</th>
                    <th>Photo</th>
                    <th>Name</th>
                    <th>Info</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody id="trainersData">
            </tbody>
        </table>
    </div>
}

@section Scripts{
    <script src="~/js/modalWnd.js"></script>
    <script src="~/js/trainers.js"></script>
}