﻿@model IEnumerable<CMSys.Web.Models.TrainerGroupViewModel>

@{
    ViewData["Title"] = "Trainers";
}

@section Content
{
    <div id="modDialog" class="modal fade">
        <div id="dialogContent" class="modal-dialog"></div>
    </div>
    <div id="trainerGroups"></div>
}

@section Scripts
{
    <script src="~/js/trainerGroups.js"></script>
    <script src="~/js/modalWnd.js"></script>
}